<nav class="side-nav">
    <div class="mb-12">
        {{# This section of the nav controlled by SideNavComposer.php #}}
        {{ pages }}
            <div class="flex items-center mb-4 text-sm hover:text-purple
                {{ if active }}font-bold text-blue{{ else }}text-grey-600{{ /if }}
            ">
                <div class="mr-2">{{ theme:output src="svg/{icon}.svg" }}</div>
                <a href="{{ url }}">{{ title }}</a>
            </div>
        {{ /pages }}
    </div>

    {{ if segment_1 === 'cookbook' }}
        {{ partial:side-nav-main for="cookbook" }}
    {{ elseif segment_1 === 'google-ads' }}
        {{ partial:side-nav-main for="google-ads" }}
    {{ elseif segment_1 === 'blog' }}
        {{ partial:side-nav-blog }}
    {{ else }}
        {{ partial:side-nav-main for="analytics" }}
    {{ /if }}
</nav>
